body{
    background-color: #F5F5F5;
    
}
.html{
    font-family: "regular poppins";
}
nav{
        -webkit-box-shadow: none !important;
    box-shadow: none !important;

}
  /* Margins */
.m0{
  margin:0px !important;
}
.mt0{
    margin-top: 0px;
}
.mb0{
    margin-bottom: 0px;  
}
.ml{
margin-left: 0px !important;
}
.ml5{
    margin-left: 5px !important;
}
/* Paddings */
  .p0{
    padding: 0px !important;
   }
  /* Calendar Css*/
  .calendar-cnt{
      height:450px;
  }
  /* End Calendar Css */
  /* LogIn Css */

  
      
  /* End LogIn Css */

  
  /* Availability Css */
  .wholee{
    margin: 84px  133px 84px 133px !important; 
    background-color:#FFFFFF;
    width:1100px;
    /* margin-top: 84px;
    margin-bottom: 84px; */
}
.picture{
background-image: url("meet1.png");
 height: 599px !important; 
width: 550px !important;  
padding:0px !important;
 background-repeat: no-repeat;
}
.mater{
    height: 599px !important; 
width: 550px !important;  
padding:0px !important;
}
.setavailable{
    font-size: 32px;
    font-weight: 500 !important;
    margin-top: 55px;
    margin-left: 39px !important ;
}
.workhrs{
    font-size:25px;
    /* margin-top: 41px !important; */
    margin-top: 35px !important;

    margin-left: 40px !important ;
}
.high{
margin-left:23px !important;
/* margin-top: 24px !important ; */
margin-top: 16px !important;

}
.from-to{
    /* margin-top: 24px !important ; */
}
.frm{
    font-size: 20px !important;
}
.to-from{
    /* margin-top: 24px !important ; */

 padding-left: 5px !important;
}
.frda{
    font-size: 20px;
}
.tda{
    font-size: 20px;
    margin-left:0px !important;
}
.toadj{
    /* margin-left :14px !important; */
    margin-left:0px !important;
}
.slttime{
  
    margin-top: 18px !important;
    padding: 2px !important;
    padding-left: 12px !important;
    font-size:20px;
    border-color:#707070 ;
  
}
.slottime{
    margin-top: 18px !important;
    font-size:20px !important;
    border-color: #707070;
    padding-left:0px !important;
}
select.inpSelect {
    /* //Remove original arrows */
    -webkit-appearance: none; 
    /* //Use png at assets/selectArrow.png for the arrow on the right */
    /* //Set the background color to a BadAss Green color  */
    /* background: url(assets/selectArrow.png) no-repeat right #BADA55; */
  }
  .selbox{
    width:141px;
height:35px;
border:2px solid #707070;
border-radius: 2px;
color:#827CBF;
padding: 2px !important;
padding-left: 8px !important;
padding-top:0px !important;
    background-image:
      linear-gradient(45deg, transparent 50%, #827CBF 60%),
      linear-gradient(135deg, #827CBF 40%, transparent 50%) !important;
    background-position:
      calc(100% - 20px) 12px,
      calc(100% - 10px) 12px,
      100% 0px;
      
      background-size:
      10px 10px,
      10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
/* .selbox{
width:141px;
height:35px;
border:2px solid #707070;
border-radius: 2px;
color:#827CBF;
padding: 2px !important;
padding-left: 7px !important;
padding-top:0px !important;
} */
.error_message{  
    margin-left: 50px; 
       color: red;   
        font-size: 15px;
        }
.workdays{
    /* margin-top: 30px; */
    margin-top: 12px !important;

    font-size: 25px;
    /* font-weight: 500 !important; */
    margin-left: 42px !important ;
}
.weeks{
    margin-top: 20px;  
    margin-left:50px !important;
    /* margin-right: 10px !important; */
}
.gray-label{

    margin-left: 0px !important;
    margin-top: 0px !important;
    font-size:18px;
        color: #B3B1B1;
}
.check-color{
    /* color:#B3B1B1 !important; */
}

    

.boxbdr{
    border:1px solid;
    height:60px !important;
    width:66px !important;
     padding-left: 12px !important;
   color: #B3B1B1;
   margin-left: -1px !important;
}
.nextb{
    padding-bottom: 47px;
}
.nxt-btn{
    /* margin-top:50px; */
    margin-top: 99px !important;

 margin-left:355px !important;
 width:150px;
 height:50px;
 background-color:#827CBF !important;
 color:white ;
 border:none;
 border-radius: 10px;
 font-size:18px;
}
/* The container */

.sun-label{
    margin-left: 0px !important;
   margin-top: 3px !important;
   font-size:18px;
       /* color: #827CBF; */
       color: #B3B1B1;
   } 
   .cont input:checked ~ .sun-label {
       color: #827CBF !important;
   }


.cont {
 display: block;
 position: relative;
 padding-left: 4px !important;
 margin-bottom: 12px;
 cursor: pointer;
 margin-top:6px !important;
 /* font-size: 22px; */
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

/* Hide the browser's default checkbox */
.cont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px !important;
  left: 12px !important;
  height: 12px !important;
  width: 12px !important;
  background-color:#B3B1B1;
  border-radius:50px;
  padding-left: 4px !important;
}

/* On mouse-over, add a grey background color */
/* .cont:hover input ~ .checkmark:active {
    background-color:#827CBF !important;
  
} */

/* When the checkbox is checked, add a blue background */
.cont input:checked ~ .checkmark {
    background-color: #827CBF !important;
}
.cont input:checked ~ .checkmark:active {
    /* background-color:#827CBF !important; */
}




  /* End Availability Css */
/* Header css */


.menu{
    padding-left: 15px;
    color:#A7A7A8;
}


.inp{
    position:relative;
    left:130px;
}
.search-header::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 10px !important;
    margin-top: 10px !important;
    
  }
.searchicon{
    margin-left: 42px;
    color:#A7A7A8;
    
}
/* .searchicon:hover{
    box-shadow:#827CBF !important ;
   
} */
#search{
    width:320px;
    padding-left: 35px;
}
.search-header,input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom: 1px solid #827CBF;
    -webkit-box-shadow: 0 1px 0 0 #827CBF;
    box-shadow: 0 1px 0 0 #827CBF;
}
.header-search-btn{
    background-color:#F8F8FB ;
    color:#A7A7A8 ;
    border-radius: 3px;
    width:100px !important;
    font-weight: 500;
    
}
.header-search-btn.btn{
    text-transform: inherit;
    box-shadow: 0px 2px 2px;
    background-color:#F8F8FB  !important;
}
a.header-search-btn.btn:hover {
    background-color:#F8F8FB  !important;
}
a.header-search-btn.btn:focus{
    background-color:#F8F8FB  !important;
}
.namcnr{
    margin:20px;
    color:#A7A7A8;
}
.topimg{
    margin-right: 20px;
    height:44.7px;
    width: 44.37px;
}
.dispic{
    height:60px;
    padding-top: 10px;
     margin-right: 45px;
    /* margin-top: 10px; */ 
}
ul#dropdown1 {
    /* margin-top: 58px !important; */
    /* display: block; */
    width: 123px !important;
    left: 1225.64px !important;
    top: -58px;
     /* height: 121.2px; */
   /* transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1); */
}
/* #dropdown1{
    display: block;
    width: 128px;
    left: 1399.64px;
    top: 58px;
    height: 100.4px;
    transform-origin: 0px 0px;
    opacity: 1;
    transform: scaleX(1) scaleY(1);
} */
/* .dropdown-content li>a, .dropdown-content li>span { */
    /* display: none !important; */
    /* font-size: 16px;
    color: #26a69a;
    display: block;
    line-height: 22px;
    padding: 14px 16px; */
/* } */


/* End Header css */


 /* Meeting page css */
.meet-card{
    width: 700px;
    margin: 60px 330px 60px 330px;
    height:auto;
    border-radius: 15px;    
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    /* font-family:"regular poppins" !important; */
    font-weight: 500;
   
  }
  .meet-icon{
      margin-top: 30px !important;
      margin-left: 25px !important;
      width:17px !important;
      height:27px !important;
      opacity: 1;
      background: transparent url('../components/images/chevron-left.svg') 0% 0% no-repeat padding-box;  
  }
 
  .event-title{
      font-size: 22px;
      /* margin-top: 64px !important; */
      margin-left: 60px !important;
     
      /* font-family:"regular poppins" !important; */
  }
  .meeting-time{
      font-size: 25px;      
      margin-left: 60px !important;
      color: #919191;
      /* font-family:"regular poppins" !important; */
  }
  
  .mins{
      font-size: 15px;
      color: #919191;
      width:30px !important;
     
  
  }
  .min-clock{
      background-image: url(./images/clock.svg);
      width: 17px;
      height: 17px;
      margin-top: 3px;
  }
  .mins i{
      margin-top: 3px;
      font-size: 18px !important;
  }
  .select-time{
      font-size: 24px;
      text-align: center;
      margin-right: 50px;
  }
  .calendar-wdt{
      width:600px;
      margin-left: 64px;
      /* padding: 40px; */
  }
  

      /* End Meeting css */


    /* calendar css */
    .rbc-calendar{
        width: 555px;
    }
    .rbc-date-cell.rbc-now {
        font-weight: bold;
        color:#827CBF;
    }
    .rbc-day-bg,.rbc-today {
        /* background-color: #827CBF !important; */
    }
    .rbc-date-cell , .rbc-current,.rbc-today{
        /* background-color:#827CBF !important; */
    }
    span.rbc-btn-group,button:nth-child(1) {
        /* color: aqua;   */
        /* display: none !important; */
       }
    /* .rbc-btn-group {
        display: none !important;
    } */
    /* .date-in-past >div{
        pointer-events: none;
      } */
        .date-in-past .rbc-row-content {
        /* pointer-events: none !important;  */
        /* opacity: 0.4 !important; */
        /* width: 14.3%; 
         background: #ccc;  */
      }
      /* .rbc-date-cell .rbc-now .rbc-current{
          pointer-events: visible !important;
      } */
      /* .rbc-month-row  .rbc-row-bg  .date-in-past.rbc-date-cell {
          pointer-events: none !important;
      } */
      
       .date-in-past {
        /* pointer-events: none !important; */
        outline: none;
        /* opacity: 0.4 !important; */
        width: 14.3%;
        background: #ccc;
        /* color: #999999; */
        /* border: 2px solid #fff;
        border-radius: 5px; */
        /* border-right: solid 1px #fff; */
       }
    .rbc-header + .rbc-header {
        border-left:inherit;
    }
    /* .rbc-month-row ,.rbc-row-bg ,.date-in-past ,.rbc-day-bg{
        pointer-events: none !important; 
    } */
    .rbc-date-cell{
     font-size: 20px;
}
    .rbc-header {
        font-size: 20px;
        font-weight: 500;
        border-bottom: inherit !important;
    }
    .rbc-month-view {
        border: inherit !important
    }
    .rbc-day-bg + .rbc-day-bg {
        border-left:inherit !important;
    }
    .rbc-month-view {
        border-bottom: inherit !important;
    }
    .rbc-month-view {
        text-align: center !important;
    }
    .rbc-month-row {
        justify-content: center !important;
    }
    .rbc-month-row + .rbc-month-row {
        border-top: inherit;
        justify-content:center !important;
    }
    .rbc-date-cell {
        text-align: inherit;
    }
    .rbc-toolbar-label{
        margin-right: 120px !important;
        font-size: 20px;
    }
    .rbc-toolbar button {
        padding: 3px !important;
        margin: 10px;
       border: inherit !important;
       color:#827CBF ;
       font-weight: 500;
       background-color: inherit !important;
    }
div.meet-card .calendar-cnt .rbc-calendar  span.rbc-btn-group button:first-child{
    display: none !important;  
    background: #ff0000 !important;
}
div.meet-card .calendar-cnt .rbc-calendar span.rbc-btn-group + span + span.rbc-btn-group  { 
    display: none !important;
}

    div.pickcard .calendar-wdt span.rbc-btn-group button:first-child { 
background: #ff0000 !important;
display: none !important;
    }


    div.pickcard .calendar-wdt span.rbc-btn-group + span + span.rbc-btn-group  { 
        background: #ff0000 !important;
        display: none !important;
            }
       .rbc-btn-group > button:not(:first-child):not(:last-child) { 
              border-radius: 6px;
              background-color:#827CBF !important ;
              color: white;
            }
            .rbc-btn-group > button:last-child:not(:first-child) {
                /* border-top-left-radius: 0; */
                /* border-bottom-left-radius: 0; */
                border-radius: 6px;
                background-color: #827CBF !important;
              color: white;
            }
      /* End calendar Css */


  /* User Details Css */



  .user-card{
    width: 700px;
    /* height:750px; */
    margin-top: 59px;
    margin-left: 389px;
    border-radius: 15px;
    /* box-shadow: 0px 3px 6px #00000029 !important */
    /* background-repeat: no-repeat;*/
    background: #FFFFFF 0% 0% no-repeat padding-box; 
    /* font-family:"regular poppins" !important; */
    font-weight: 500;
    
    
  }
  .time-row{
    margin-left: 30px !important; 
    margin-top:5px;
    
}
  .calendar-row{
    margin-left: 30px !important;
     color:#827CBF;
    /* width:29px !important;   */
  }
  .access-time{
      background-image:url(./images/clock.svg);
      width: 17px;
      height: 17px;
      margin-top: 3px;
  }
  .calendar-icon{
      background-image: url(./images/calendar.svg);
      width: 18px;
      height: 18px;
      margin-top: 5px;
  }
  .calendar-mins{
    font-size: 18px;
    width:30px !important;
  }
  .calendar-mins i{
    font-size: 18px;
    margin-top: 5px;

  }
  .enter-details{
    font-size: 24px;
    text-align: left;
    margin-left: 64px !important;
  }
  .form-field{
      padding:0px 86px 0px 64px;
  }
  .user-input {
      width:540px !important;
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    /* margin-top: 8px !important; */
    /* border-bottom: none; */
    box-shadow: none !important;
    padding-left: 10px !important;
}
.add-user-input{
    width:550px !important;
    /* height: 100px; */
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    padding-left: 10px !important;
}
.user-input-area{
    height:120px !important;
    border: 1px solid #707070 !important;
    border-radius: 5px !important;
    /* margin-top: 30px !important; */
    /* border-bottom: none; */
    box-shadow: none !important;
    padding-left: 10px !important; 

}
.frm-label{
    font-size: 20px !important;
    color: black !important;
    position: inherit !important;
}


.add-btn{
    width:132px;
    height: 37px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #827CBF;
    color:#827CBF;
    box-shadow: none;
    text-transform: none !important;
    font-size: 17px;
    margin-top: 2px;
    
}
.chips-input{
    border-bottom: none !important;
}
.chip.not-valid .chip-value{
    display: none !important;
}
.chip:focus {
    outline: none;
    background-color: #827CBF !important;
    color: #fff;
}
#efullname{
    border-bottom: none !important; 
}

/* .btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
} */
.chips-header .chips-title {
    font-size: 0px !important;
    color: white;
    /* font-weight: bold; */
}


.emailchips{

  height: 57px;
}

.chip.not-valid .chip-value, .chip.not-valid .chip-delete-button {
    /* background: #ffeff1; */
    color: #ff586c;
}
.chip .chip-value {
display: contents !important; 
    padding: 5px;
    padding-left: 15px;
    /* padding-right: 7.5px; */
    /* background: #f3f3f3; */
    color: #8dabc4;
    font-weight: bold;
    border-radius: 15px 0 0 15px;
}
.frm-label-area{
    
    margin-top: 15px;
    font-size: 20px !important;
    color: black !important;
    position: inherit !important;
}
.add-schedule-btn{
    padding-bottom: 100px !important;
}
.add-btn-meeting{
    margin-top: 20px;
    padding-top: 0px;
    float:right;
    width:203px;
    height: 50px;
    border-radius: 5px;
    background-color: #827CBF !important;
    border: 1px solid #827CBF;
    color:white;
    box-shadow: none;
    text-transform: none !important;
    font-size: 18px;
    
}
a.add-btn-meeting:hover{
    background-color: #827CBF !important; 
}
.btn.add-btn-meeting:hover{
    background-color: #827CBF !important;
}
.btn.add-btn-meeting:focus{
    background-color: #827CBF !important;
}

/* .btn:hover,{
    background-color: inherit !important;
} */





/* End User details css */



/* Pick Time Css */
.select-time-pick{
    font-size: 24px;
    margin-left: 200px;
    
    /* text-align: center; */
}
.pick-card{
    margin: 59px 158px 60px 157px;
    border-radius: 5px;
    width:1050px;
    height: 650px !important;
}
.pick-time-card{
  
}



.pickcard{
    margin: 0px;

}

.pickcard .calendar-wdt{
    margin: 0px !important;
}
.day-text{
    text-align: left !important;
    margin-top: 55px !important;
    margin-left: 105px;
    color: #827CBF !important;
    font-size: 25px;
    margin-bottom: 10px;
    padding-left: 105;

}
.time-slot-main{
    overflow-y: scroll;
    height:430px;
    padding-left: 115px;
}
::-webkit-scrollbar {
    width: 0px;
  }
.time-btn{
    width:200px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #00000029;
    color:#131313;
    box-shadow: none;  
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    padding: 6px 16px !important;
    
}
.hide-btn{
    width:205px !important;
    margin-top: 20px;
    
}
.time-btn-hide{
    width:95px;
    height: 50px;
    border-radius: 5px;
    background-color: #707070;
    border: 1px solid #00000029;
    color:#FFFFFF;
    box-shadow:none;  
    font-size:15px;
    font-weight: 500;
    padding: 6px 10px !important;
    box-shadow: none ;
    text-transform: inherit !important;
}
a.time-btn-hide:hover {
    background-color: #707070 !important;
}
.confirm-btn-hide{
    width:95px;
    height: 50px;
    border-radius: 5px;
    background-color: #827CBF;
    border: 1px solid #00000029;
    color:#FFFFFF;
    box-shadow: none;  
    font-size: 15px;
    font-weight: 500;
    padding: 6px 10px !important; 
    box-shadow: none !important; 
    text-transform: inherit !important;
}
a.confirm-btn-hide:hover {
    background-color: #827CBF !important;
}
.btn.confirm-btn-hide:hover {
    background-color: #827CBF !important;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: inherit !important;
   
}
.btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color:inherit !important;
}
/* .btn, .btn-large, .btn-small, .btn-flat {
    padding:8px 16px ;
} */


   /* End Pick Time Css */


   /* Home Page css */
   .lft-space{
       background-color: white;
        width:50px !important;
        height:700px;
   }
.home-card{
   margin: 50px 137px 50px 0px; 
   /* padding-left: 60px; */
   /* padding: 30px 60px 30px 60px; */
   /* height:610px !important; */
   border-radius: 5px;
}
.pick-link{
    padding: 30px 60px 0px 60px;

}
.events-tabs{
    padding: 0px 60px 0px 60px;
}
.usr-nam{
    font-size: 25px !important;
    text-align: left;
    font-weight: 500;
}
.usr-link{
    font-size: 17px !important;
    text-align: left;
    color: #827CBF;
}

.home-divider{
  margin-left:0px!important;
    
  
}
/* .user-img{
    background:  url('../components/images/avatar3.png') ;
    width:67px;
    height:67px; 
    border-radius: 50%;
    margin-top: 8px !important; 
} */
.td-mtg{
    color:#616161 !important;
    font-size: 16px !important;
    font-weight: 500; 
    width: 145px !important; 
}
.td-mtg2{
    color:#616161 !important;
    font-size: 16px !important;
    font-weight: 500;  
    width: 178px !important;  
}
.tabs .indicator {

    margin: 0px 15px;
    position: absolute;
    bottom: 4px;
    height: 2px;
    background-color: #827CBF !important;
    will-change: left, right;
    border-radius: 5px;
}
.tabs .tab {
  
    display: inline-block;
    text-align: left;
    line-height: 48px;
    height: 50px;
    padding: 0;
    margin: 0;
    text-transform:none;
}
.tab-width{
 width: 150px !important;
}
.tab-width2{
    width: 175px !important;
   }
.tabs .tab a {
    /* color: rgba(238,110,115,0.7); */
    color: #616161;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 15px;
}
.tabs .tab a:hover , .tabs .tab a.active {
    background-color: transparent;
    color: #616161;
}
.tabs .tab a:hover , .tabs .tab  {
    background-color: transparent;
    color: #616161;
}

.ntf-card{
    margin-top: 30px;
   /* padding:55px; */
}
.usr-ntf{
    width:400px;
    height:100px;
    margin:10px 0px 30px 85px;
    border-radius: 10px;
}

.crd-cntt{
    padding:10px;
}
.img-content{
    margin-top: 8px !important;
    padding-left: 25px !important;
    
}
.usr-profile{
    width:67px;
    height:67px;
    border-radius:50%;

}
.row .col.m6 {
    width: 50%;
    margin-left: 0px !important;
    left: auto;
    right: auto;
}

.usr-card-lab{
    font-size: 17px;
    text-align: left !important;
    font-weight: 500 !important;
    padding: 10px 4px 3px 0px !important;

}
.usr-card-time{
    font-size: 15px;
    color:#616161;
    padding: 0px 8px 0px 0px !important;
    font-weight: 500 !important;
}
.usr-card-time i{
    padding-right: 5px;
  padding-top:13px;
  
}
.acs-time{
    font-size:16px;
    margin-top:5px;
   
}
.home-time-slot{
    width: 136px !important;
    padding-left: 6px !important;
}
.acs-hrs{

}
/* .avtr-img{
    background:  url('../components/images/avatar4.png') ;
    width:67px;
    height:67px; 
    border-radius: 50%; 

} */
.usr-time{
    margin-top:5px;
}
/* .card-btn-ntf{
    font-weight: 800 !important;
} */
.btn-ntf{
    width:100px !important;
    height:28px;
    border-radius: 5px;
    margin-top: 6px !important;
    margin-bottom: 8px;
    text-transform: none;
    line-height: 27.4px;

}
.hide-btn-home{
    margin-top: 20px;
}
.btn:hover, .btn-large:hover, .btn-small:hover {
    /* background-color: inherit !important; */
    /* color:black; */
} 
   /* End Home Page css */

 .usr-shd{
       padding-left: 10px !important;
   }
 .usr-card-shd{
    font-size: 15px;
    color:#616161;
    padding: 0px 0px 2px 0px !important;
    font-weight: 500 !important;
}
.usr-card-lab-shd{
    font-size: 17px;
    text-align: left !important;
    font-weight: 500 !important;
  

}
.usr-card-time-shd i{
    margin-top: 5px;
    padding-right: 5px;
  /* padding-top:10px; */
  
}
.acs-time-shd{
    font-size:16px;
    margin-top:5px;
    padding-right: 5px !important;
   
}
.time-icon-lab{
    margin-bottom: 10px;
}
    /* Schedule Meeting Css */
      

    /* End Schedule Meeting Css */




a.green.accent-3:hover {
    background-color: #00F196 !important;
}
a.red:hover {
    background-color: red !important;
}

/* Login Css */

.backimg{
    background-image: url("../components/sammin.png");
     height:768px !important;
    width:1366px !important;   
   background-repeat: no-repeat;
   background-size: cover;
  
  }
  .googlee{
   margin: 600px 0px 40px 0px;
   
   text-align:center !important;
  }
  .signwith{
    font-size: 22px;
    font-weight: 500;
  }
  .google-btn{
    height:60px !important;
    /* width: 334px !important; */
    background-color: #FFFFFF !important;
    color:black !important;
    border-radius:10px !important;
    text-transform: inherit !important;
    font-size: 22px !important;
    font-weight: 500 !important;  
  }
  .google-btn svg g{
      height: 35px !important;
      width: 35px !important;
  }
  .butngoogle{
    height:60px !important;
    width: 334px !important;
    background-color: #FFFFFF;
    color:black;
    border-radius:10px;
    text-transform: inherit !important;
    font-size: 22px;
    font-weight: 500;
    border:none
  }
  .btn:hover, .btn-large:hover, .btn-small:hover{
      background-color: white !important;
  }
  .btn:focus, .btn-large:focus, .btn-small:focus, .btn-floating:focus {
    background-color:white !important;
  }
  .googicon{
    margin-left:10px;
}
  

/* End Login Css */
     /* Responsive for Mobile */
     @media only screen and (max-width: 600px) {
         /* SignIn Css Responsive */
         .backimg{
            
             
         }

         /* SignIn Css Responsive */

        /* Set Availabilty Css Responsive */
        .wholee{
        
        margin: inherit;
        }
        /* Set Availabilty Css Responsive */
        .meet-card{
            margin-left: inherit;
            width:inherit;
            height:inherit;
            margin: 10px;
        }
        .meet-icon{
          
        }
        .event-title{
            margin-left: inherit;
            text-align: center;
        }
        .meeting-time{
            text-align: center;
            margin-left: inherit;
            font-size: 18px;
        }
        .time-row{
           
            margin-left:inherit; 
            
        }
        .mins{
            
            /* color: #919191; */
            /* width:30px !important; */
            /* margin: inherit !important; */
        
        }
        .calendar-cnt {
            height: 440px;
        }
        .rbc-toolbar-label{
            text-align: center;
        }
        /* PickTime Css Responsive */
        .pick-card{
            /* margin: 10px; */
            width: inherit;
            height: auto;
            
            /* margin-left: inherit; */
           
        }
        
        /* .calendar-cnt {
            height: 340px;
        } */

        /* PickTime Css Responsive */


        /* User Details Responsive */
          .user-card{
              margin-left: inherit;
              margin: 10px;
          }
          .rbc-calendar{
            width:inherit;
        }
        .time-row{
            width: 100px;
            margin-left: 100px !important;
        }
          /* User Details Responsive */
          /* Pick Time Css Responsive */
          .pick-card{
              margin: inherit;
          }

          /* End PickTime Css Responsive */

          /* Home Css Responsive */
          .home-card {
            margin: inherit;
           
            padding: inherit;
            height:auto !important;
            border-radius: 5px;
        } 
        .usr-ntf{
            margin: inherit;
            width: 250px;
        }    


          /* Home Css Responsive */

         


     }
     @media only screen and (min-width: 600px) {
          /* Set Availabilty Css Responsive */
        .wholee{
           
            margin:inherit;
            }
            /* Set Availabilty Css Responsive */

         /* Meeting Css Responsive */
     
         /* Meeting Css Responsive */
         /* PickTime Css Responsive */
         .pick-card{
            /* margin:10px; */
            /* width: inherit; */
           
        }
        

        /* PickTime Css Responsive */

     }
     @media only screen and (min-width: 768px) {
    /* For mobile phones: */
    /* Meeting Page */

    

     /* PickTime Css Responsive */
     .pick-card{
        /* margin:10px; */
        /* width: inherit; */
       
    }
    

    /* PickTime Css Responsive */
    /* UserDetails */
       
     /* User Details Responsive */
     .user-card{
        margin-left:inherit;
        margin: 10px;
   }
   /* User Details Responsive */
     /* Header Responce */
    
     /* End Header Responce */
   /* Home Page Responce */
     
     /* End Home Page Responce */
    }  
    @media only screen and (min-width: 992px) {
     /* Meeting Css Responsive */
     /* Meeting Css Responsive */
       /* PickTime Css */
       .pick-card{
        
       }
       /* PickTime Css */
     /* User Details Responsive */
     .user-card{
         margin:0px 350px 0px 350px
                /* margin: 10px; */
    }
    /* User Details Responsive */
    }
    @media only screen and (min-width: 1200px) {

         /* Login */
         .backimg {
            background-image: url(/static/media/sammin.a020bc57.png);
            /* height: auto !important; */
            /* width: 100% !important; */
            /* background-repeat: no-repeat; */
            /* background-size: cover; */
        }
         /* Login */
        /* Meeting Css Responsive */
          
         /* Meeting Css Responsive */
    }